Options -Indexes

RewriteEngine On
# RewriteBase /Portal/main/
# RewriteRule \.(js|css|ico|gif|jpg|png|xml|html|swf|ttf|eot)$ - [NC,L]

# RewriteRule ^admin_template/(.*)$ /Portal/admin_template/$1 [NC,L]
# RewriteRule ^assets/(.*)$ /Portal/assets/$1 [NC,L]

RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]